#formGroupExampleInput {
  width: 700;
}

.backButton {
  background-color: white;
  color: black;
  border: 2px solid #066bb7; /* Make-a-wish blue */
  border-radius: 5px;
}

.display-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  color: black;
}

.form-title {
  padding-top: 20px;
}

.intro-page {
  padding-top: 50px;
  font-family: "Arial";
  font-weight: 900;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}

.intro-search {
  display: flex;
  flex-direction: row;
}

.medium-logo {
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
  margin-right: 5px;
}

.small-logo {
  border-radius: 5px;
  margin-right: 10px;
}
