@keyframes slide-from-left{
  from{
    transform: translateX(-100%);
    opacity:0;
  }
  to{
    transform: translateX(0%);
    opacity:100%;
  }
}
@keyframes slide-from-right{
  from{
    transform: translateX(100%)
  }
  to{
    transform: translateX(0%);
  }
}
@keyframes fade{
  from{
    opacity :0 ;
  }to{
    opacity: 100%;
  }
}

.slide-from-left{
  animation: slide-from-left .3s forwards;
}
.slide-from-right{
  animation: slide-from-right .3s forwards;
}

.fade-animation{
  animation: fade .3s forwards;
}

#dateField {
  padding: 0;
  margin: 0;
}

#details-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#details-second-row {
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#details-third-row {
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#formGroupExampleInput {
  width: 700;
}

#noteField {
  height: 300;
}

#save-button {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border: 2px solid #066bb7; /* Make-a-wish blue */
  border-radius: 5px;
  height: 40px;
  width: 60px;
}

.clear-button {
  background:none;
  border: none;
  color: black;
  font-size: .75em;
}

.clear-button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  padding-top: 20px;
}

.main-page {
  /* background:url(https://i.stack.imgur.com/Ux7SR.png);
  background-size: 50em; */
  background:whitesmoke;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1em;
  color: black;
}

.intro-search {
  display: flex;
  flex-direction: row;
}

.medium-logo {
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
  margin-right: 5px;
  height:6em;
  width:6em;
}

.small-logo {
  border-radius: 5px;
  margin-right: 10px;
}

.small-search {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

/* custom */
.vendor-container {
  width: 100%;
  max-width: 60rem;
  margin-bottom: 1.5em;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 1em;
  box-shadow: 10px 10px;
  border:1px solid black;
  background:white;

}

.vendor-img {
  width: 100%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/724216/pexels-photo-724216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .vendor-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

.vender-header {
  font-size:1.5em;
  font-weight: bold;
}

.vendor-status{
  text-align: right;
}

.vendor-row {
  /* padding: 1em; */
}

/* global resets */
p {
  margin-bottom: 0.5rem !important;
}

#valueField {
  width: 400px;
}

.list-group-item {
  padding: 0.25rem 1.25rem !important;
}

h3, h6 {
  color: #006bb7 !important;
}

.data-header{
  font-size: 1.25em; 
  font-weight: bold; 
}

.details-button{
  position: absolute;
  right: 1em;
  top: 40%;
}

.status-helpful{
  color:#7ed321;
}

.status-unknown{
  color:grey;
}

.status-unhelpful{
  color:#d0021b;
}


.border-helpful{
  border-left:#7ed321 solid 20px;
}

.border-Not{
  border-left:grey solid 20px;

}
.border-unknown{
  border-left:grey solid 20px;

}

.border-unhelpful{
  border-left:#d0021b solid 20px;
}



.search-bar-input{
  height:2em;
  font-size:3em;
}
#new-donation-text {
  font-weight: 700;
}

textarea {
  resize: none;
}

.back-button {

}

.keyword-text{
  font-size: 2em;
  font-weight: bold;
}